html[theme='dark'] {
  --main-color: hsl(50, 10%, 10%);
  --secondary-color: rgba(24, 24, 24, 1);
  --additional-color: rgb(40, 40, 40);
  --accent-color: hwb(33 40% 0%);
  --font-color: rgb(255, 255, 255);

  --background-color: hsl(0, 3%, 6%);

  --header-color: var(--secondary-color);
  --header-font-color: var(--font-color);

  --navbar-color: var(--secondary-color);

  --navbar-element-highlight-color: var(--additional-color);
  --navbar-element-font-color: var(--font-color);
  --navbar-element-icon-color: var(--font-color);

  --card-color: hsl(0, 0%, 12%);
  --card-icon-color: var(--font-color);
  --card-font-color: var(--font-color);
  --card-additional-font-color: var(--font-color);

  --feature-card-color: var(--secondary-color);
  --feature-card-font-color: var(--font-color);
  
  --operation-highlight-color: var(--accent-color);
  --operation-font-highlight-color: black;
  
  --icon-first-color: rgb(221, 221, 221);
  --icon-second-color: rgb(196, 196, 196);

  --transactions-day-color: rgba(155, 155, 155, 1);
  --positive-payment-color: rgba(87, 198, 69, 1);

  --login-backgroung-color: var(--background-color);
  --login-backdrop-image: url('../../../assets/images/background-dark.png');
  --login-font-color: var(--font-color);
  --login-input-backgroung-color: transparent;
  --login-input-font-color: var(--login-font-color);
  --login-input-border-color: rgb(115, 115, 115);
}