:root {
  & .cards-container[hidden] {
    background-color: red;
    --cards-container-height: 3.5rem;
  }
}


.cards-container {
  flex: 1;
  display: flex;
  gap: 2rem;
  min-height: var(--cards-container-height);
  overflow-x: auto;

  .cards {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    border-radius: var(--border-radius);
  }

  .toggle-button {
    top: 0; bottom: 0; left: 0;
    border: transparent;
    outline: none;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;

    > * {
      fill: var(--card-icon-color);    
      height: 100%;
      width: 2rem;
      transform: translateY(0.3rem);
    }

    &.active {
      > * {
        transform: scaleY(-1);
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}