.cards-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  height: var(--bankcard-default-height);

  transition: height var(--animation-speed);

  &[isShown="false"] {
    --height: 3rem;

    height: var(--height);

    .toggle-button {
      height: var(--height);

      & > * {
        width: 1.2rem;
        rotate: 180deg;
      }
    }
  }

  .cards-scroll-wraper {
    overflow: hidden;
    border-radius: var(--border-radius);

    .cards {
      display: flex;
      grid-auto-flow: column;
      gap: 2rem;
      cursor: grab;

      transition: transform var(--animation-speed);

      .empty-space {
        height: 100px;
        min-width: 100%;
      }
      
      &::-webkit-scrollbar {
        display: none;
      }

      &.grabbing {
        transition: none;
        cursor: grabbing;

        & .bankcard {
          cursor: grabbing;
        }
      }
    }
  }
    
  .toggle-button {
    justify-content: center;
    border: transparent;
    outline: none;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    height: var(--bankcard-default-height);
    min-width: 4rem;
    
    transition: height var(--animation-speed);
    
    .plus-icon {
      & * {
        background-color: red;
      }
    }

    > * {
      fill: var(--card-icon-color);    
      height: 1.6rem;
      width: 1.6rem;
      filter: brightness(0) invert(1);
      transform: translateY(0.3rem);
      
      transition: 
      width var(--animation-speed),
      rotate var(--animation-speed);
    }
    
    &.active {
      > * {
        transform: scaleY(-1);
      }
    }
  }
}