.feature-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--feature-card-font-color);
  border-radius: var(--border-radius);
  box-shadow: 
    0.3rem 0.3rem 0.5rem 0.005rem hsla(29, 43%, 75%, 0.8), 
    -0.3rem -0.3rem 0.5rem hsl(30, 100%, 98%);
  background-color: hsl(30, 43%, 95%);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;


  .header {
    position: absolute; 
    top: 1.2rem; right: 2rem; left: 2rem;
    margin: 0;
    height: min-content;
  }

  .childrens {
    position: absolute; 
    top: 3rem; right: 2rem; bottom: 1rem; left: 2rem;

    flex: 1;
    align-items: start;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.bottomless > .childrens{
    bottom: 0;
    padding-bottom: 2rem;
  }
}

