:root {
  --gap: 1.5rem;
  --cards-container-height: calc(53.98rem / var(--card-size-coefficient));
}

.home-page {
  display: grid;
  grid-template-rows: var(--cards-container-height) 1fr;
  flex-direction: column;
  gap: var(--gap);
  padding: 1.5rem 2.2rem;
  
  .function-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);

    & > *:nth-child(2) {
      grid-column: 2;
      grid-row: span 2 / 3;
    } 

    .operations {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .transactions-cards-container {
      display: grid;
      gap: 1.5rem;
    }
  }
}