.navbar {
  background-color: var(--navbar-color);
  width: 15rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  transition: width var(--animation-speed) ease-out;
  padding: 0.5rem;
  
  &[hidden] {
    transition: width var(--animation-speed) ease-out;
    width: 4rem;
  }
}