.recipient-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(var(--bankcard-default-height) * 1.2);
  aspect-ratio: var(--bankcard-aspect-ratio);
  border-radius: var(--border-radius);
  background-color: var(--recipient-background-color);
  color: var(--recipient-font-color);
  padding: 0.5rem 1.9rem;
  box-sizing: border-box;

  .recipient-header {
    color: var(--recipient-header-color-color);
    margin: 0;
    margin-top: 1rem;
  }

  .input-field {
    display: grid;
    height: 100%;
    grid-template-rows: 50% 50%;
    align-items: center;

    transition: grid-template-rows 0.4s;

    &[selectMode="unselected"] {
      .input-option .input{
        height: 0rem;
        opacity: 0;
      }
    }

    &[selectMode="cardInput"] {
      grid-template-rows: 80% 20%;

      .input-option.card .input{
        height: 3rem;
        opacity: 1;
      }
      .input-option.phone .input{
        height: 0rem;
        opacity: 0;
      }
    }

    &[selectMode="phoneInput"] {
      grid-template-rows: 20% 80%;

      .input-option.card .input{
        height: 0rem;
        opacity: 0;
      }
      .input-option.phone .input{
        height: 3rem;
        opacity: 1;
      }
    }

    .input-option {
      overflow: hidden;
      cursor: pointer;

      .category-name {
        font-size: 1rem;
        font-weight: normal;
        color: var(--recipient-category-name-font-color);
      }

      .input {
        background-color: transparent;
        color: var(--recipient-input-font-color);
        border: transparent;
        outline: none;
        font-size: 1.2rem;

        transition: 
          height 0.4s,
          opacity 0.4s;

        &::placeholder {
          color: var(--recipient-input-placeholder-font-color);
        }
      }
    }
  }
}