@import url('./themes/dark.css');

html {
  --main-color: rgb(32,39,46);
  --secondary-color: rgba(24, 24, 24, 1);
  --additional-color: rgb(40, 40, 40);
  --accent-color: hwb(33 40% 0%);
  --font-color: rgb(255, 255, 255);

  --background-color: rgb(242,232,222);
  --background-image: url('../../assets/images/background-light.png');


  --mainpage-background: rgb(242,232,222);

  --header-color: var(--secondary-color);
  --header-font-color: var(--font-color);

  --navbar-color: var(--secondary-color);

  --navbar-element-highlight-color: var(--additional-color);
  --navbar-element-font-color: var(--font-color);
  --navbar-element-icon-color: var(--font-color);

  --card-color: hsl(0, 0%, 12%);
  --card-icon-color: var(--font-color);
  --card-font-color: var(--font-color);
  --card-additional-font-color: rgb(154, 154, 154);

  --feature-card-color: var(--font-color);
  --feature-card-font-color: black;
  
  --operation-highlight-color: var(--accent-color);
  --operation-font-highlight-color: black;
  
  --icon-first-color: rgb(221, 221, 221);
  --icon-second-color: rgb(196, 196, 196);

  --transactions-day-color: rgba(155, 155, 155, 1);
  --positive-payment-color: rgba(87, 198, 69, 1);

  --login-backdrop-color: rgb(242,232,222);
  --login-font-color: var(--font-color);
  --login-border-color: rgba(0, 0, 0, 0.5);
  --login-input-backgroung-color: transparent;
  --login-input-font-color: var(--login-font-color);
  --login-button-main-color: rgba(255, 255, 255);
  --login-button-font-color: var(--login-font-color);
  --login-button-hover-font-color: rgb(0, 0, 0);

  --payment-center-background-color: rgb(242,232,222);
  --payment-center-border-color: hsl(30, 43%, 81%);
  --payment-center-placeholder-color: hsl(30, 43%, 81%);
  --transfer-button-background-color: green;
  --transfer-button-font-color: white;
  --payment-description-background-color: transparent;
  --payment-description-border-color: transparent;

  --card-switch-backgound-color: transparent;
  --card-switch-shadow-color: var(--login-border-color);

  --recipient-background-color: var(--card-color);
  --recipient-font-color: white;
  --recipient-category-name-font-color: rgb(154, 154, 154);
  --recipient-input-font-color: white;
  --recipient-input-placeholder-font-color: rgb(167, 167, 167);
}