@import url('./themes/dark.css');

html {
  --main-color: rgb(32,39,46);
  --secondary-color: rgba(24, 24, 24, 1);
  --additional-color: rgb(40, 40, 40);
  --accent-color: hwb(33 40% 0%);
  --font-color: rgb(255, 255, 255);

  --background-color: rgb(242,232,222);
  --background-image: url('../../assets/images/background-light.png');

  --mainpage-background: rgb(242,232,222);

  --header-color: var(--secondary-color);
  --header-font-color: var(--font-color);

  --navbar-color: var(--secondary-color);

  --navbar-element-highlight-color: var(--additional-color);
  --navbar-element-font-color: var(--font-color);
  --navbar-element-icon-color: var(--font-color);

  --card-color: hsl(0, 0%, 12%);
  --card-icon-color: var(--font-color);
  --card-font-color: var(--font-color);
  --card-additional-font-color: rgb(154, 154, 154);

  --feature-card-background-color: hsl(30, 43%, 95%);
  --feature-card-font-color: black;
  
  --operation-highlight-color: var(--accent-color);
  --operation-font-highlight-color: black;
  
  --icon-first-color: rgb(221, 221, 221);
  --icon-second-color: rgb(196, 196, 196);

  --transactions-day-color: rgba(155, 155, 155, 1);
  --positive-payment-color: rgba(87, 198, 69, 1);

  --login-font-color: var(--font-color);
  --login-button-main-color: rgba(255, 255, 255);
  --login-button-font-color: var(--login-font-color);
  --login-button-hover-font-color: rgb(0, 0, 0);
  
  --modern-input-color: white;
  --modern-input-background-color: transparent;
  --modern-input-error-underline-color: rgb(255, 0, 0);
  --editable-modern-input-color: black;

  --settings-background-color: rgb(242, 232, 222);
  --settings-submit-background-color: rgb(255, 193, 116);
  --settings-highlight-submit-background-color: rgb(255, 176, 79);
  --settings-active-submit-background-color: rgb(255, 163, 52);
  --settings-positive-submit-background-color: rgb(182, 255, 79);
  --settings-negative-submit-background-color: hwb(0 33% 0%);
  --settings-submit-font-color: rgb(0, 0, 0);

  --payment-font-color: rgb(0, 0, 0);
  --payment-center-background-color: rgb(242,232,222);
  --payment-placeholder-color: hsl(30, 43%, 81%);
  --payment-description-placeholder-color: hsl(31, 14%, 49%);
  --payment-transaction-background-color: hsl(91, 43%,50%);
  --payment-transaction-shadow-color: 
    0.2rem 0.2rem 0.5rem 0.005rem hsl(91, 43%, 60%),
    -0.2rem -0.2rem 0.5rem hsl(91, 100%, 95%);

  --card-switch-backgound-color: transparent;
  --card-switch-shadow-color: rgba(0, 0, 0, 0.25);

  --recipient-background-color: var(--card-color);
  --recipient-header-color-color: white;
  --recipient-category-name-font-color: rgb(154, 154, 154);
  --recipient-input-placeholder-font-color: rgb(167, 167, 167);

  --scrollbar-color: rgb(56, 56, 56);
  --scrollbar-highlight-color: rgb(85, 85, 85);

  --mainpage-font-color: black;

  --light-shadow: -0.3rem -0.3rem 0.5rem hsl(30, 100%, 95%);
  --dark-shadow: 0.3rem 0.3rem 0.5rem 0.005rem hsla(29, 43%, 75%, 0.8);
}