.feature-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem 2rem 1.2rem 2rem;
  color: var(--feature-card-font-color);
  border-radius: var(--border-radius);
  background-color: var(--feature-card-color);

  .header {
    margin: 0;
    height: min-content;
  }

  .childrens {
    flex: 1;
    align-items: start;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.bottomless {
    padding-bottom: 0;
  }
}

