.operation-container {
  display: flex;
  height: 2.5rem;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 0.9rem;

  transition: 
    background-color calc(var(--animation-speed) / 2),
    color calc(var(--animation-speed) / 2);

  &:hover {
    background-color: var(--operation-highlight-color);
    color: var(--operation-font-highlight-color);
  }
}