.card-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .payment-card-container {
    display: grid;
    align-items: center;
    justify-items: center;
    transition: margin-top var(--animation-speed);

    .header {
      color: var(--payment-font-color);
    }

    .payment-card {
    }
  }

  .option-menu-container {
    display: grid;
  }
}