.transaction-container {
  display: flex;
  height: 2.5rem;
  gap: 0.5rem;

  .main-info {
    flex: 1;

    .name {
      font-weight: bold;
    }

    .description {}
  }

  .amount-container {
    display: flex;
    align-items: first baseline;
    gap: 0.2rem;

    .amout {
      font-weight: 400;
      font-size: 1.7rem;
    }

    .units {
      font-size: 0.85rem;
    }

    &.positive {
      .amout {
        color: var(--positive-payment-color);
      }
    }
  }
}