.header-container {
  position: fixed;
  left: 0; top: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  z-index: 1;
  background-color: var(--header-color);
  color: var(--header-font-color);
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;    
    height: 100%;
    cursor: pointer;

    .logo-image-container {
      height: 100%;
      aspect-ratio: 1;

      .logo {
        height: 100%;
        width: 100%;
      }

    } 

    .logo-name {
      font-weight: bold;
    }
  }
}

.profile-button-container {
  position: relative;
  height: 100%;

  .profile-image-wrapper {
    height: 100%;
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    
    .profile-image {
      height: 100%;
      aspect-ratio: 1;
      border-radius: 100%;
    }
  }

  .options-wrapper {
    position: absolute;
    top: 3rem; right: var(--options-wrapper-width);
    display: grid;
    gap: 0.8rem;
    padding: 1rem 0.8rem;
    width: max-content;
    background-color: var(--header-color);
    border-radius: calc(var(--border-radius)/3*2);
    font-size: 1.1rem;

    transition: all calc(var(--animation-speed)/3*2);

    &[shown="true"] {
      right: 0;
    }

    .name-button {
      font-weight: 600;
      padding: 0.5rem 0.8rem;
    }

    button {
      background-color: transparent;
      outline: none;
      border: transparent;
      color: white;
      font-size: 1.1rem;
      text-align: left;
      border-radius: calc(var(--border-radius)/3);
      padding: 0.5rem 0.8rem;
      cursor: pointer;

      transition:
      background-color calc(var(--animation-speed)/2)
      color calc(var(--animation-speed)/2);

      &:hover {
        background-color: rgb(221, 221, 221);
        color: black;
      }
    }

    .quit-button {
      color: rgb(255, 81, 81);
      transition: all 0.2s;

      &:hover {
        background-color: rgb(255, 81, 81);
        color: black;
      }
    }


  }
}