.modern-input-container {
  position: relative;
  padding-top: 0.9rem;

  .form-input {
    background-color: var(--login-input-backgroung-color);
    color: var(--login-input-font-color);
    border: transparent;
    border-radius: 5rem;
    outline: none;
    padding: 0rem 1rem;
    width: 100%;
    box-sizing: border-box;


    &::-ms-reveal {
      filter: invert(100%);
    }
    &::selection {
      background-color:transparent;
    }
  }

  & .placeholder {
    content: attr(placeholder);
    position: absolute;
    pointer-events: none;
    top: 1.7rem; left: 1rem; 
    color: var(--login-font-color);
    transition: 
      transform calc(var(--animation-speed) / 2),
      font-size calc(var(--animation-speed) / 2);
  }

  /* &::before{
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 0.15rem;
    background-color: rgb(255, 86, 86)
  } */
  .underline  {
    position: relative;
    padding: 0 0.5rem;

    .line {
      content: '';
      position: absolute;
      left: 0rem; top: 0rem;
      height: 0.1rem;
      width: 0rem;
      display: flex;
      align-items: center;
      background-color: white;
      font-size: 0.9rem;
  
      transition: 
        width 0.2s,
        background-color 0.2s;
    }

    .message {
      color: rgb(255, 0, 0);
      font-size: 1rem;
      padding: 0.3rem 0;
      opacity: 0;
      height: 0rem;

      transition: 
        opacity 0.2s, 
        height 0.2s;
    }

    &[error="true"] {
      .line {
        width: 100%;
        background-color: red;
      } 
      .message {
        opacity: 1;
        height: 1rem;
      }
    }
  }

  & input:focus ~ .placeholder,
  & input:invalid ~ .placeholder {
    transform: translateY(-1.5rem);
    font-size: 0.8rem;
  }

  & input:focus ~ .underline .line {
    width: 100%;
  }
}